body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: #fff;
  display: flex;
  max-width: 600px;
  min-height: 450px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.column {
  flex: 50%;
}

.card img {
  height: 100%;
  width: 100%;
}

.column .card__content {
  padding: 32px;
}

.card__category {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 3px 0 0;
}

.card__title {
  margin: 22px 0 0;
  font-size: 30px;
  font-family: "Fraunces", serif;
  letter-spacing: 1px;
  line-height: 32px;
}

.card__description {
  margin-top: 24px;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 23px;
}

.card__price {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.card__price b {
  display: inline-block;
  font-size: 30px;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  letter-spacing: 1px;
}

.card__price s {
  text-decoration: line-through;
  vertical-align: top;
  color: hsl(228, 12%, 48%);
  padding-left: 19px;
  font-size: 12px;
  letter-spacing: 1px;
}

.card__btn {
  background-color: hsl(158, 36%, 37%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  border: none;
  width: 100%;
  padding: 16px 0 14px;
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icon-cart:before {
  content: url("../images/icon-cart.svg");
}

.card__btn:hover {
  background-color: #1a4031;
}

.card__btn embed {
  padding-right: 10px;
}

@media screen and (max-width: 650px) {
  .card {
    flex-direction: column;
    margin: 0 10px;
  }
}
